<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="logs\internalLog.txt">


	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="errorLog" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="fatalLog" fileName="${basedir}/fatals/${longdate}.log"
		        layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="Console"
		        name="fatalConsoleLog"
		        layout="[${uppercase:${level}}] Возникло необработанное исключение. Проверьте логи..."
		        detectConsoleAvailable="true" />
		<target xsi:type="Console"
		        name="infoConsoleLog"
		        layout="[${uppercase:${level}}] ${longdate}: ${message}"
		        detectConsoleAvailable="true" />
		<target xsi:type="Console"
		        name="errorConsoleLog"
		        layout="[${uppercase:${level}}] ${longdate}: ${callsite}. Проверьте логи"
		        detectConsoleAvailable="true" />

	</targets>

	<rules>
		<logger name="*" level="Info, Debug" writeTo="infoConsoleLog" />
		<logger name="*" level="Error" writeTo="errorConsoleLog"/>
		<logger name="*" level="Error" writeTo="errorLog"> </logger>
		<logger name="*" level="Fatal" writeTo="fatalLog"> </logger>
		<logger name="*" level="Fatal" writeTo="fatalConsoleLog"> </logger>
	</rules>
</nlog>