<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Northis.BattleRoostersOnline.Implements.GameServicesProvider"
			         behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://10.88.99.75:7777/Northis.BattleRoostersOnline" />
					</baseAddresses>
				</host>
				<endpoint address="AuthenticationService" binding="wsDualHttpBinding"
				          contract="Northis.BattleRoostersOnline.Contracts.IAuthenticateService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="EditService" binding="wsHttpBinding"
				          contract="Northis.BattleRoostersOnline.Contracts.IEditService">

					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="BattleService" binding="wsDualHttpBinding"
				          contract="Northis.BattleRoostersOnline.Contracts.IBattleService">

					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint name="mex"
				          binding="mexHttpBinding"
				          contract="IMetadataExchange" />

			</service>


		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>