<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <wsDualHttpBinding>
                        <binding name="WSDualHttpBinding_IFindService" />
                        <binding name="WSDualHttpBinding_IBattleService" />
                </wsDualHttpBinding>
                <wsHttpBinding>
                        <binding name="WSHttpBinding_IAuthenticateService" />
                        <binding name="WSHttpBinding_IEditService" />
                </wsHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:23555/Northis.BattleRoostersOnline/AuthenticationService"
                        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticateService"
                        contract="GameServer.IAuthenticateService" name="WSHttpBinding_IAuthenticateService">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost:23555/Northis.BattleRoostersOnline/EditService"
                        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEditService"
                        contract="GameServer.IEditService" name="WSHttpBinding_IEditService">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost:23555/Northis.BattleRoostersOnline/FindService"
                        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IFindService"
                        contract="GameServer.IFindService" name="WSDualHttpBinding_IFindService">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost:23555/Northis.BattleRoostersOnline/BattleService"
                        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IBattleService"
                        contract="GameServer.IBattleService" name="WSDualHttpBinding_IBattleService">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
        </client>
    </system.serviceModel>
</configuration>